{% extends "layout.html" %}

{% block content %}

  <h3>{{Page.title}} <small> (<a href="{{Page.route}}/similar">Similar</a>)</small></h3>
  <h4>by <a href="PLACEHOLDER-AUTHOR-URL">PLACEHOLDER AUTHOR NAME</a></h4>
  <hr>
  <div>
  	<ul>
  		{% for tag in Page.tags %}
      		<li>{{tag}}</li>
    	{% endfor %}
  	</ul>
  </div>
  <hr/>
  <div>PLACEHOLDER AUTHOR NAME WITH LINK TO AUTHOR PAGE</div>
  <div class="page-body">{{Page.content}}</div>
  <hr/>
  <a href="PLACEHOLDER_URL_TITLE/edit" class="btn btn-primary">edit this page</a>
  <a href="PLACEHOLDER_URL_TITLE/delete" class="btn btn-danger">delete this page</a>

{% endblock %}